# Para que el proyecto funcione a la perfección se deben rellenar estas constantes con las claves personales y renombrar el archivo como .env

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

API_KEY_OPEN_WEATHER=